body{
background-color:#030311;
text-align:center;
}
h1{
position:relative;
z-index:100 !important;
}
.centre{
height:80vh;
width:80vw;
padding-top:10vh;
padding-bottom:10vh;
display:block;
margin:0 auto;
}
.border{
border:#84c754 3px solid;
height:80vh;
overflow-y:scroll;
}
.link{
text-align:left;
position:relative;
top:1vh;
padding-left:0.25vw;
padding-right:0.75vw;
}
#HCB_comment_form_box{
padding:5vw;
}
h3{
display:hide !important;
color:#030311;
}
form{
margin-top:-8vh;
}
img{
display:none;
}
.home-desc{
display:none;
}
#HCB_comment_form_box a{
display:none;
}
.comment{
text-align:left;
margin-left:5vw;
margin-right:5vw;
background:rgba(50,50,50,0.1);
padding:1vh;
margin-bottom:5vh;
}
input,button,textarea{
background:rgba(0,0,0,0);
outline:0;
border:0;
border:#84c754 1px solid;
color:#ffffff;
margin-bottom:2vh;
padding:1vh;
min-width:12vw;
}
