.gallink{
display:flex;
flex-flow:row wrap;
justify-content:left;
margin-top:5vh;
margin-bottom:5vh;
border:#444444 solid 1px;
padding-top:5vh;
padding-bottom:5vh;
}
.gallink a{
width:19.9vw;
text-align:center;
}
.gallery{
display:flex;
flex-flow:row wrap;
justify-content:center;
border:#444444 solid 1px;
padding-top:10vh;
}
.gallery img{
width:20vw;
margin-right:2.5vw;
margin-left:2.5vw;
margin-bottom:5vw;
}
