body{
font-family:monospace;
display:block;
margin:0 auto;
font-size:12px;
color:#ffffff;
}
h1{
font-family:Helvetica;
}
a{
color:#999999;
}
a:link{
text-decoration:none;
}
a:visited{
text-decoration:none;
}
a:hover{
text-decoration:underline;
}
a:active{
text-decoration:line-through;
}
