body{
background-color:#030311;
text-align:center;
}
.centre{
height:40vh;
width:40vw;
padding-top:20vh;
padding-bottom:30vh;
display:block;
margin:0 auto;
}
.border{
border:#84c754 3px solid;
height:40vh;
overflow-y:scroll;
}
.msg{
height:8vh;
padding-top:1vh;
padding-bottom:1vh;
}
.hidden{
color:#030311;
}
.link{
text-align:left;
position:relative;
right:18vw;
top:1vh;
}
ul{
padding:0;
margin:0;
margin-top:3vh;
}
input{
background-color:#030311;
outline:0;
border:1px #ffffff solid;
padding:2.5px;
width:20vw;
color:#ffffff;
}
p{
margin:0;
margin-left:-25vw;
font-size:15px;
margin-bottom:-15px;
background-color:rgba(50,50,50,0.5);
}
.tab:focus{
background-color:#aa1010;
outline:0;
border:0;
}
