body{
background-color:#000000;
}
.main{
width:80vw;
display:block;
margin:0 auto;
}
.side{
width:10vw;
position:fixed;
top:40vh;
}
.img2{
margin:0 auto;
}
.img{
background-color:#2f4f4f;
flex-flow: row wrap;
display:flex;
margin:0 auto;
margin-bottom:5vh;
}
.small{
padding:0.833vw;
width:25vw;
padding-bottom:7vh;
border:0;
outline:0;
}
.caption{
background-color:#4f6f6f;
margin-top:-14px;
text-align:center;
}
.small:focus{
width:80vw;
}
