body{
background-image: url("../img/background.png");
}
div{
text-align:center;
height:20vh;
padding-top:40vh;
padding-bottom:40vh;
}
section{
display:block;
margin:0 auto;
background:rgba(50,50,50,0.3);
padding-top:10px;
padding-bottom:10px;
}
a{
width:15vw;
}
article{
display:flex;
justify-content:center;
}
.right{
text-align:right;
}
.left{
margin-right:10vw;
text-align:left;
}
